In [1]:
# Importing libraries
import requests
import pandas as pd
import numpy as np
import json
from bs4 import BeautifulSoup
from scrapy.selector import Selector
from scrapy.http import HtmlResponse
import string
import re

In [2]:
# Importing more libraries
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn import metrics
from sklearn.model_selection import StratifiedKFold
%matplotlib inline

In [3]:
import sys
reload(sys)
sys.setdefaultencoding('utf-8')

In [4]:
# Xpath
part_1 = "//div[@class='lister-list']/div[@class='lister-item mode-advanced']["
part_2 = "]/div[@class='lister-item-content']/h3[@class='lister-item-header']/a/@href"
# url link to imdb search results
url_1 = "http://www.imdb.com/search/title?adult=include&countries=us&languages=en&num_votes=1000,&release_date=2005,&title_type=tv_series&user_rating=1.0,10&sort=user_rating,desc&view=advanced"
url_2 = "&page="
url_3 = "&ref_=adv_nxt"

In [5]:
# Webscrapping imdb movie_id list
id_list = []
for u in range(1, 29):
    URL = (url_1 + url_2 + str(u))
    r = requests.get(URL)
    HTML = r.text
    for i in range(1, 51):
        a_tag = Selector(text=HTML).xpath(part_1+str(i)+part_2).extract()
        for a in a_tag:
            id_list.append(a[7:16])

In [6]:
len(id_list)

1379

In [7]:
id_list[570]

u'tt0460666'

In [8]:
# Function to access the tv maze app, retrieve data and also accesses the imdb page to webscrape some more information
# converts data into dataframe
def get_movie_info(entry):
    res=requests.get('http://api.tvmaze.com/lookup/shows?imdb='+entry)
    if res.status_code == 200:
        results = json.loads(res.text)
        
        try:
            name = results['name']
        except TypeError:
            name = 'NaN'

        try:
            rating =  results['rating']['average']
        except TypeError:
            rating = 'NaN'

        try:
            genres = results['genres']
        except TypeError:
            genres = 'NaN'

        try:
            network = results['network']['name']
        except TypeError:
            network = 'NaN'

        try:
            premiered = results['premiered']
        except TypeError:
            premiered = 'NaN'

        try:
            status = results['status']
        except TypeError:
            status = 'NaN'

        try:
            types = results['type']
        except TypeError:
            types = 'NaN'
        
        try:
            show_id = results['id']
        except TypeError:
            show_id = 'NaN'
            
        url = "http://www.imdb.com/title/" + entry + "/reviews?ref_=tt_urv"
        r = requests.get(url)
        HTML = r.text
        path1 = "//div[@id='tn15content']/p["
        path2 = "]/text()"
        a_tag_list = []
        for i in range(1, 11):
            try:
                a_tag = Selector(text=HTML).xpath(path1 + str(i) + path2).extract()
                a_tag_list.append(a_tag[0])
            except:
                a_tag_list.append('NaN')
           
        res2 = requests.get('http://api.tvmaze.com/shows/' + str(show_id) + '/crew')
        crew_list_i = []
        if res2.status_code == 200:
            results2 = json.loads(res2.text)
            for number in range(len(results2)):
                try:
                    crew_list_i.append(results2[number]['person']['name'])
                except:
                    pass
        crew_set = set(crew_list_i)
        crew_list = list(crew_set)
        
        res3 = requests.get('http://api.tvmaze.com/shows/' + str(show_id))
        if res3.status_code == 200:
            results3 = json.loads(res3.text)
            
            try:
                summary = results['summary']
            except:
                summary = 'NaN'
            

        
        shows.loc[len(shows)] = [name, rating, genres, network, premiered, status, types, crew_list, summary, a_tag_list]

In [9]:
shows = pd.DataFrame(columns = ['show_name', 'rating_avg', 'genres', 'network', 'premiere_date', 'status', 'types', 'crew', 'summary', 'reviews'])

counter = 0
for entry in id_list:
    get_movie_info(entry)
    counter = counter + 1
    print counter

In [10]:
shows.head()

,show_name,rating_avg,genres,network,premiere_date,status,types,crew,summary,reviews
0,Critical Role,NaN,[Adventure],NaN,2015-03-13,Running,Game Show,[],<p>Voice actor Matthew Mercer leads a group of...,[\n9 voice actors get together and play Dungeo...
1,Game of Thrones,9.3,"[Drama, Adventure, Fantasy]",HBO,2011-04-17,Running,Scripted,"[Katie Weiland, Lisa Byrne, George R. R. Marti...",<p>Based on the bestselling book series <i>A S...,[\nDo not believe any of those negative review...
2,Breaking Bad,9.3,"[Drama, Crime, Thriller]",AMC,2008-01-20,Ended,Scripted,"[Mark Johnson, Gina Scheerer, Andrew Ortner, V...",<p><b>Breaking Bad</b> follows protagonist Wal...,[\nI probably haven't been hooked to a TV show...
3,Rick and Morty,9.4,"[Comedy, Adventure, Science-Fiction]",Adult Swim,2013-12-02,Running,Animation,"[Joe Russo II, Dan Guterman, Ryan Ridley, Tom ...","<p>Rick is a mentally gifted, but sociopathic ...",[\nThis show is honestly great. It is easily t...
4,Sherlock,9.2,"[Drama, Crime, Mystery]",BBC One,2010-07-25,To Be Determined,Scripted,"[Charlotte Ashby, Jeremy Child, Suzie Lavelle,...",<p>Sherlock Holmes and Dr. John Watson's adven...,"[\n..with delight. A brilliantly written, well..."

In [11]:
shows.to_pickle('shows.pkl')

In [12]:
df = shows.copy()

In [13]:
# data cleaning
def remove_html(string):
    return re.sub(r'<.+?>', '', string)

In [14]:
# stripping html tag characters
df['summary'] = df['summary'].apply(lambda x: remove_html(x))

In [15]:
df.head()

,show_name,rating_avg,genres,network,premiere_date,status,types,crew,summary,reviews
0,Critical Role,NaN,[Adventure],NaN,2015-03-13,Running,Game Show,[],Voice actor Matthew Mercer leads a group of fe...,[\n9 voice actors get together and play Dungeo...
1,Game of Thrones,9.3,"[Drama, Adventure, Fantasy]",HBO,2011-04-17,Running,Scripted,"[Katie Weiland, Lisa Byrne, George R. R. Marti...",Based on the bestselling book series A Song of...,[\nDo not believe any of those negative review...
2,Breaking Bad,9.3,"[Drama, Crime, Thriller]",AMC,2008-01-20,Ended,Scripted,"[Mark Johnson, Gina Scheerer, Andrew Ortner, V...","Breaking Bad follows protagonist Walter White,...",[\nI probably haven't been hooked to a TV show...
3,Rick and Morty,9.4,"[Comedy, Adventure, Science-Fiction]",Adult Swim,2013-12-02,Running,Animation,"[Joe Russo II, Dan Guterman, Ryan Ridley, Tom ...","Rick is a mentally gifted, but sociopathic and...",[\nThis show is honestly great. It is easily t...
4,Sherlock,9.2,"[Drama, Crime, Mystery]",BBC One,2010-07-25,To Be Determined,Scripted,"[Charlotte Ashby, Jeremy Child, Suzie Lavelle,...",Sherlock Holmes and Dr. John Watson's adventur...,"[\n..with delight. A brilliantly written, well..."

In [16]:
# stripping newline spaces
df['reviews'] = df.reviews.map(lambda y: [x.replace('\n','') for x in y])

In [17]:
df.shape

(1268, 10)

In [18]:
df.isnull().sum()

show_name          0
rating_avg       130
genres             0
network            0
premiere_date      0
status             0
types              0
crew               0
summary            0
reviews            0
dtype: int64

In [19]:
df.types.value_counts()

Scripted       921
Reality        146
Animation      119
Documentary     30
Talk Show       22
Variety         14
Game Show       10
News             3
Sports           3
Name: types, dtype: int64

In [20]:
# dropping rows where targe is missing
df.dropna(axis=0, inplace=True)

In [21]:
df.isnull().sum()

show_name        0
rating_avg       0
genres           0
network          0
premiere_date    0
status           0
types            0
crew             0
summary          0
reviews          0
dtype: int64

In [22]:
df.shape

(1138, 10)

In [23]:
df.head()

,show_name,rating_avg,genres,network,premiere_date,status,types,crew,summary,reviews
1,Game of Thrones,9.3,"[Drama, Adventure, Fantasy]",HBO,2011-04-17,Running,Scripted,"[Katie Weiland, Lisa Byrne, George R. R. Marti...",Based on the bestselling book series A Song of...,[Do not believe any of those negative reviews....
2,Breaking Bad,9.3,"[Drama, Crime, Thriller]",AMC,2008-01-20,Ended,Scripted,"[Mark Johnson, Gina Scheerer, Andrew Ortner, V...","Breaking Bad follows protagonist Walter White,...",[I probably haven't been hooked to a TV show l...
3,Rick and Morty,9.4,"[Comedy, Adventure, Science-Fiction]",Adult Swim,2013-12-02,Running,Animation,"[Joe Russo II, Dan Guterman, Ryan Ridley, Tom ...","Rick is a mentally gifted, but sociopathic and...",[This show is honestly great. It is easily the...
4,Sherlock,9.2,"[Drama, Crime, Mystery]",BBC One,2010-07-25,To Be Determined,Scripted,"[Charlotte Ashby, Jeremy Child, Suzie Lavelle,...",Sherlock Holmes and Dr. John Watson's adventur...,"[..with delight. A brilliantly written, well a..."
5,Last Week Tonight with John Oliver,9.0,[Comedy],HBO,2014-04-27,Running,Talk Show,"[Tim Carvell, Jon Thoday]","On Last Week Tonight with John Oliver, John Ol...",[Loved John Oliver on Community and love him o...

In [24]:
df.genres

1                [Drama, Adventure, Fantasy]
2                   [Drama, Crime, Thriller]
3       [Comedy, Adventure, Science-Fiction]
4                    [Drama, Crime, Mystery]
5                                   [Comedy]
6                                   [Action]
7          [Drama, Science-Fiction, Western]
8                          [Drama, Thriller]
9          [Drama, Crime, Thriller, Mystery]
10                            [Drama, Crime]
11                [Science-Fiction, History]
12                                        []
13                            [Drama, Crime]
14         [Drama, Science-Fiction, Mystery]
15        [Adventure, Mystery, Supernatural]
16                                        []
17                    [Drama, Action, Crime]
18                            [Drama, Crime]
19      [Adventure, Family, Science-Fiction]
22                                  [Comedy]
23                           [Drama, Comedy]
24                                  [Comedy]
25                        [Horror, Thriller]
26                [Drama, Action, Adventure]
27                       [Comedy, Adventure]
28                                        []
29                                        []
30                   [Drama, Action, Sports]
32                           [Drama, Comedy]
33                  [Drama, Science-Fiction]
                        ...
1221                                      []
1222                          [Drama, Music]
1223                        [Drama, Romance]
1225                      [Comedy, Children]
1227                                      []
1228                         [Action, Crime]
1229                      [Comedy, Children]
1230                                [Comedy]
1231                                [Family]
1232                                      []
1233                        [Drama, Romance]
1234                        [Comedy, Family]
1235                                [Comedy]
1236                                      []
1237                                 [Drama]
1238                                      []
1239                        [Drama, Romance]
1240                                      []
1242                                [Comedy]
1244                                      []
1245                                      []
1247                                [Family]
1250                                [Comedy]
1251                                [Family]
1254                     [Action, Adventure]
1255                                      []
1258                                      []
1262                                 [Drama]
1263                                      []
1267                                      []
Name: genres, Length: 1138, dtype: object

In [132]:
# unpacking list
df['genres'] = df['genres'].apply(lambda x: ', '.join(map(str, x)))

In [133]:
df.genres.value_counts()

Comedy                                                         195
                                                               102
Drama                                                           45
Drama, Comedy                                                   43
Comedy, Family                                                  42
Drama, Crime                                                    41
Drama, Action, Crime                                            29
Drama, Romance                                                  23
Comedy, Romance                                                 21
Action, Adventure, Science-Fiction                              17
Drama, Crime, Thriller                                          15
Drama, Science-Fiction, Thriller                                15
Drama, Comedy, Crime                                            13
Drama, Crime, Mystery                                           13
Drama, Action, Science-Fiction                                  13
Drama, Comedy, Romance                                          12
Comedy, Children                                                11
Drama, Thriller                                                  9
Drama, Action, Adventure                                         9
Food                                                             8
Drama, Medical                                                   8
Action, Science-Fiction                                          8
Drama, History                                                   8
Action, Adventure                                                7
Drama, Action                                                    7
Drama, Family                                                    7
Drama, Mystery, Supernatural                                     7
Drama, Crime, Supernatural                                       7
Drama, Horror, Thriller                                          7
Drama, Comedy, Family                                            6
                                                              ...
Drama, Action, Thriller, Mystery                                 1
Drama, Crime, Science-Fiction, Thriller                          1
Comedy, Action, Family                                           1
Drama, Horror, Medical                                           1
Adventure, Fantasy                                               1
Comedy, Action, Adult                                            1
Sports                                                           1
Anime, Horror, Supernatural                                      1
Drama, Crime, Western, Mystery                                   1
DIY                                                              1
Drama, Espionage                                                 1
Comedy, Fantasy, Music                                           1
Adventure, Mystery                                               1
Drama, Children, Family, Horror                                  1
Drama, Romance, Mystery                                          1
Comedy, Supernatural                                             1
Drama, Fantasy, Horror                                           1
Drama, Adventure, Science-Fiction, Thriller                      1
Comedy, Science-Fiction, Mystery                                 1
Drama, Fantasy, Horror, Romance                                  1
Comedy, Adventure, Children, Science-Fiction                     1
Adventure, Family                                                1
Action, Adventure, Supernatural                                  1
Drama, Crime, Espionage                                          1
Comedy, Action, Adventure, Fantasy, Horror, Science-Fiction      1
Action, Adventure, Horror, Science-Fiction, Thriller             1
Drama, Action, Romance, Thriller                                 1
Drama, Action, Crime, Western                                    1
Drama, Action, Fantasy, Science-Fiction                          1
Drama, Fantasy, Horror, Romance, Thriller                        1
Name: genres, Length: 246, dtype: int64

In [134]:
# unpacking list
df['crew'] = df['crew'].apply(lambda x: ', '.join(map(str, x)))

In [135]:
df.head()

,show_name,rating_avg,genres,network,premiere_date,status,types,crew,summary,reviews
1,Game of Thrones,9.3,"Drama, Adventure, Fantasy",HBO,2011-04-17,Running,Scripted,"Katie Weiland, Lisa Byrne, George R. R. Martin...",Based on the bestselling book series A Song of...,[Do not believe any of those negative reviews....
2,Breaking Bad,9.3,"Drama, Crime, Thriller",AMC,2008-01-20,Ended,Scripted,"Mark Johnson, Gina Scheerer, Andrew Ortner, Vi...","Breaking Bad follows protagonist Walter White,...",[I probably haven't been hooked to a TV show l...
3,Rick and Morty,9.4,"Comedy, Adventure, Science-Fiction",Adult Swim,2013-12-02,Running,Animation,"Joe Russo II, Dan Guterman, Ryan Ridley, Tom K...","Rick is a mentally gifted, but sociopathic and...",[This show is honestly great. It is easily the...
4,Sherlock,9.2,"Drama, Crime, Mystery",BBC One,2010-07-25,To Be Determined,Scripted,"Charlotte Ashby, Jeremy Child, Suzie Lavelle, ...",Sherlock Holmes and Dr. John Watson's adventur...,"[..with delight. A brilliantly written, well a..."
5,True Detective,8.5,"Drama, Crime, Thriller, Mystery",HBO,2014-01-12,Running,Scripted,"Matthew McConaughey, Scott Stephens, Nic Pizzo...",The series stars Matthew McConaughey and Woody...,[Right when the opening credits start and you ...

In [136]:
# unpacking list
df['reviews'] = df['reviews'].apply(lambda x: ', '.join(map(str, x)))

In [137]:
df.head()

,show_name,rating_avg,genres,network,premiere_date,status,types,crew,summary,reviews
1,Game of Thrones,9.3,"Drama, Adventure, Fantasy",HBO,2011-04-17,Running,Scripted,"Katie Weiland, Lisa Byrne, George R. R. Martin...",Based on the bestselling book series A Song of...,Do not believe any of those negative reviews. ...
2,Breaking Bad,9.3,"Drama, Crime, Thriller",AMC,2008-01-20,Ended,Scripted,"Mark Johnson, Gina Scheerer, Andrew Ortner, Vi...","Breaking Bad follows protagonist Walter White,...",I probably haven't been hooked to a TV show li...
3,Rick and Morty,9.4,"Comedy, Adventure, Science-Fiction",Adult Swim,2013-12-02,Running,Animation,"Joe Russo II, Dan Guterman, Ryan Ridley, Tom K...","Rick is a mentally gifted, but sociopathic and...",This show is honestly great. It is easily the ...
4,Sherlock,9.2,"Drama, Crime, Mystery",BBC One,2010-07-25,To Be Determined,Scripted,"Charlotte Ashby, Jeremy Child, Suzie Lavelle, ...",Sherlock Holmes and Dr. John Watson's adventur...,"..with delight. A brilliantly written, well ac..."
5,True Detective,8.5,"Drama, Crime, Thriller, Mystery",HBO,2014-01-12,Running,Scripted,"Matthew McConaughey, Scott Stephens, Nic Pizzo...",The series stars Matthew McConaughey and Woody...,Right when the opening credits start and you h...

In [138]:
# removing commas
df['summary'] = df['summary'].str.replace(',', '')

In [139]:
# removing commas
df['reviews'] = df['reviews'].str.replace(',', '')

In [152]:
df.shape

(1134, 10)

In [338]:
df.dtypes

show_name         object
rating_avg       float64
genres            object
network           object
premiere_date     object
status            object
types             object
crew              object
summary           object
reviews           object
dtype: object

In [414]:
rating_median = df.rating_avg.median()
rating_median

7.8

In [419]:
# converting target to binary class
y = df['rating_avg'].apply(lambda x: 1 if x > rating_median else 0)

In [420]:
y.value_counts()

0    614
1    520
Name: rating_avg, dtype: int64

In [422]:
# baseline accuracy
baseline = 614 / (520 + 614.)
baseline

0.5414462081128748

In [347]:
# train test split
X_train, X_test, y_train, y_test = train_test_split(df[['show_name', 'genres', 'types', 'crew', 'summary', 'reviews']], y, test_size = 0.3, random_state=42)

In [348]:
X_train

,show_name,genres,types,crew,summary,reviews
970,Transporter: The Series,"Action, Adventure",Scripted,"Paul Mullie, Bernard Bouix, Andy Mikita, Brad ...",Frank Martin returns as the Transporter with o...,I have just finished watching the first episod...
1028,Alaskan Bush People,"Adventure, Nature",Reality,,This spring Animal Planet takes a journey deep...,I was born in Ak and I love this show! Are the...
508,Lady Dynamite,Comedy,Scripted,"Maria Bamford, Mitchell Hurwitz, Pam Brady",Stand-up comedian/actress Maria Bamford (portr...,It's hard to describe what this show is so man...
1112,Bam's Unholy Union,Comedy,Reality,,Pro skateboarder and MTV Jackass alum Bam Marg...,NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
740,The Grinder,Comedy,Scripted,"Jarrad Paul, Ben Wexler, Jake Kasdan, Rob Lowe...",The Grinder follows a famous TV lawyer who aft...,The plot is so Original and fresh with so much...
742,Sex&Drugs&Rock&Roll,"Comedy, Music",Scripted,"Maria Cerretani, Kerry Orent, Tom Sellitti, Ji...",Sex&amp;Drugs&amp;Rock&amp;Roll follows Johnny...,Halfway the first season of Sex&Drugs&Rock&Rol...
73,The Colbert Report,Comedy,Talk Show,"Yvonne DoMare, Glenn Eichler, Ben Karlin, Jon ...",Feel the news along with Stephen Colbert Ameri...,I didn't know what to expect when I saw this s...
425,Frequency,"Drama, Crime, Science-Fiction",Scripted,"Coreen Mayrs, Dino Moriana, John Dove, Dennis ...",Frequency surrounds Detective Raimy Sullivan w...,Since I was a big fan of the movie I also enjo...
507,Luck,"Drama, Crime",Scripted,"David Milch, Carolyn Strauss, Michael Mann",From David Milch and Michael Mann this one-hou...,Although the first episode of this series was ...
1103,Training Day,"Drama, Crime, Thriller",Scripted,"Maisha Closson, Jeff Kay, Erik Holmberg, Danny...",Inspired by the Oscar-winning movie Training D...,"With the passing a a great actor ""Bill Paxton""..."
443,Eli Stone,"Drama, Fantasy, Legal",Scripted,"Brett Mahoney, Andrew Kreisberg, Christopher M...",Follow Eli Stone on his quirky quest for answe...,SEriously I get people who are touched by auti...
268,Fresh Off the Boat,Comedy,Scripted,"Kourtney Kang, Melvin Mar, Anya Colloff, Sanja...",It's the '90s and 12 year old hip-hop loving E...,Fresh Off the Boat is a new innovative fish-ou...
890,America's Best Dance Crew,,Reality,,America's Best Dance Crew often abbreviated as...,i really love this show but i am sick and tire...
328,Drive,,Scripted,"Molly Lopata, Ben Queen, Gary Krause, Tony Pal...",A select group of people from around the count...,Drive had the potential to be a top rated tele...
943,Law & Order: Los Angeles,"Drama, Crime",Scripted,"Peter Jankowski, Blake Masters, Julie Martin, ...",In the City of Los Angeles the people are repr...,I'vde noticed most reviews here are not kind. ...
235,Conan,Comedy,Talk Show,"Conan O'Brien, Jeff Ross",Conan has the biggest celebrities the hottest ...,What is a guy from Argentina doing reviewing t...
249,The Good Guys,"Comedy, Action, Adventure, Crime",Scripted,,The Good Guys is an action-packed and comedic ...,I was not expecting this show to be anything b...
772,Quantico,"Drama, Crime, Thriller, Mystery",Scripted,"Courtney Ward-Thomkins, Daniel Valverde, Camer...",Quantico is about a diverse group of recruits ...,I am a former FBI Agent; I went through the FB...
661,Colony,"Drama, Science-Fiction",Scripted,"Checco Varese, Josh Holloway, David Mendoza, M...",Colony is a naturalistic drama about a family ...,Title says it all and this got me scratching m...
321,Vinyl,"Drama, Music",Scripted,"Rodrigo Prieto, Tim Streeto, Erin Cressida Wil...",From Martin Scorsese Mick Jagger and Terence W...,Simply put - it's clichéd tired nostalgia-porn...
1258,Keeping Up with the Kardashians,Drama,Reality,"Ryan Seacrest, Khloé Kardashian, Eliot Goldber...",The Kardashians the family at the center of E!...,Sadly IMDb doesn't have a rating system under ...
712,Cupid,"Drama, Romance",Scripted,"Rob Thomas, Bharat Nalluri, Joshua Levey, Dani...",Trevor Pierce is a larger than life character ...,When I saw the previews for this I was hesitan...
1168,Undercovers,Drama,Scripted,"J.J. Abrams, Bryan Burk, Josh Reims","""Undercovers"" is a sexy fun action-packed spy ...","""Undercovers"" is first and foremost entertainm..."
263,Weeds,"Drama, Comedy, Crime",Scripted,"Shawn Schepps, Patricia Van Baalbergen, Matthe...",Weeds is a comedy/drama/satire based around an...,I haven't been a dedicated fan of a TV series ...
701,Golden Boy,,Scripted,"Nicholas Wootton, Greg Berlanti",Drama about the meteoric rise of an ambitious ...,At first glance it may appear as a basic crime...
1210,Bad Girls Club,,Reality,"Laura Korkoian, Jonathan Murray, Dana Demars",This season on Bad Girls Club the best of the ...,The premise of this show is that a group of gi...
80,Community,Comedy,Scripted,"Andy Bobrow, Karey Dornetto, Neil Goldman, A.J...",Community is a smart exuberant comedy that is ...,i am very critical of television. i hate clich...
103,Genius,"Drama, History",Scripted,Mathias Herndl,Genius tells Albert Einstein's story beyond th...,Typical Hollywood. Nothing like an old man scr...
475,Haven,"Drama, Crime, Supernatural",Scripted,"Stephen King, Shernold Edwards, Neil Grieve, S...",When FBI Special Agent Audrey Parker is dispat...,I'll just jump right in and say SyFy has a goo...
37,Archer,"Comedy, Action, Adult",Animation,"Kim Feigenbaum, Mack Williams, Chi Duong, Eric...",Archer is an animated half-hour comedy set at ...,Having just seen the special sneak preview of ...
...,...,...,...,...,...,...
1026,Mike & Molly,"Comedy, Family",Scripted,"Cheryl Holliday, Stephen Prime, Bob La Masney,...",Police officer Mike Biggs knows his way around...,"I enjoyed watching ""Mike and Molly"" very much...."
203,River Monsters,"Action, Adventure, Nature",Documentary,,In River Monsters join host biologist and extr...,Jeremy Wade hosts River Monsters and boy does ...
1045,24: Legacy,"Drama, Action, Thriller",Scripted,"Howard Gordon, Garret Donnelly, Leigh Dana Jac...",24: Legacy chronicles an adrenaline-fueled rac...,Seems to be impossible to give a Spoiler Alert...
734,Hot in Cleveland,Comedy,Scripted,"Sean Hayes, Vanessa McCarthy, Suzanne Martin, ...",Hot in Cleveland revolves around three fabulou...,Wendy Malick Valerie Bertinelli Jane Leeves an...
538,Last Man Standing,"Comedy, Family",Scripted,"Beth Redick, Tim Allen, Richard Baker, Amy Mas...",TV titan Tim Allen returns to ABC as Mike Baxt...,I didn't expect much from this although I did ...
1176,Bordertown,Comedy,Animation,"Alex Carter, Seth MacFarlane, Mark Hentemann, ...",Bordertown centers on two clans: the Buckwalds...,Personally I hated this when I had first seen ...
496,FlashForward,"Drama, Crime, Science-Fiction",Scripted,"Mark Herzog, Vince Gerardis, Byron Balasco, Ca...",What would you do if you were given a glimpse ...,I really liked the show and actually I thought...
910,The New Normal,Comedy,Scripted,"Mike Scully, Bradley Buecker, Karey Dornetto, ...",These days families come in all forms - single...,The harsh critical reception of this program i...
789,The New Adventures of Old Christine,"Comedy, Family",Scripted,"Kari Lizer, Andy Ackerman",The New Adventures of Old Christine is a comed...,The New Adventures of Old Christine may have t...
266,Masters of Sex,Drama,Scripted,"Aaron Klemanski, Michael Sheen, Judith Verno, ...",Masters of Sex is a drama that portrays the re...,While Masters of Sex might not be a great show...
24,The Crown,"Drama, History",Scripted,Peter Morgan,The Crown tells the inside story of two of the...,The Crown boasts no action sequences or big mo...
481,Awkward.,"Drama, Comedy, Romance",Scripted,"Steve Edwards, Andrew Veeder, Mike Chessler, A...",This series takes an irreverent look at the co...,I'm 25 and a straight male so I'm going to hav...
291,A Haunting,"Drama, Horror, Mystery",Documentary,,"""When the door between the spirit world and ou...",This show isn't like those othertry-to-make-it...
1024,Swedish Dicks,"Comedy, Crime",Scripted,"Fredrik Ljungberg, Andrew Lowery, Nina Lund, D...",Comedy series set in Downtown Los Angeles. The...,Swedish Dicks is a Noir Private-eye with the u...
405,Queen of the South,"Drama, Action, Crime",Scripted,"David T. Friendly, Pancho Mansfield, Joshua Jo...",Queen of the South is based on the literary pa...,I am honestly very surprised at the low rating...
855,Time After Time,"Drama, Adventure, Science-Fiction",Scripted,"Kevin Roache, Daniel T. Thomsen, Liza Richards...",Travel through centuries decades and days with...,I've not seen the original movie but with my l...
363,Chicago Med,"Drama, Medical",Scripted,"Peter Jankowski, Stephen Hootstein, Marisa Ros...",An emotional thrill ride through the day-to-da...,I tried watching the Fire and Police ones but ...
813,Top Chef: Masters,"Food, Family",Reality,,Bravo's Top Chef Masters returns for a fifth s...,I really like this show. After watching Top Ch...
141,Halt and Catch Fire,Drama,Scripted,"Chris Cantwell, Chris Rogers",Halt and Catch Fire is set roughly one year af...,After watching the pilot for this AMC series I...
927,Difficult People,Comedy,Scripted,"Tony Hernandez, Amy Poehler, Michele Armour, B...",Difficult People hails from the comedic minds ...,I am totally obsessed with this show. I feel l...
1240,Kendra,,Reality,,Kendra Wilkinson finds herself at a crossroads...,I liked Kendra ever since I saw her on the gir...
96,Sense8,"Drama, Science-Fiction, Thriller",Scripted,"Peter Friedlander, Carmen Cuba, Roberto Malerb...",A group of people around the world are suddenl...,Netflix does it again. After House of Cards Or...
350,The 100,"Action, Adventure, Science-Fiction",Scripted,"Justine Juel Gillmer, Morgan Gendel, Terri Hug...",Ninety-seven years ago nuclear Armageddon deci...,Before watching the 100 you have to accept the...
488,Mad Dogs,"Drama, Comedy, Crime",Scripted,"Nelson Cragg, Patricia Alonso, Robert Duncan, ...",When a group of underachieving 40-something fr...,The only thing I knew about this show was that...
132,The Originals,"Drama, Romance, Supernatural",Scripted,"Talicia Raggs, Leslie Morgenstein, Declan De B...",The Originals is a spin-off show from the supe...,This show is miles better than The Vampire Dia...
1124,Van Helsing,"Drama, Action, Horror",Scripted,"Chad Oakes, Jeremy Smith, Philip Chipera, Jay ...",Van Helsing centers on Vanessa Helsing the dau...,Being a fan of his plays I thought that perhap...
1204,Dancing with the Stars,Music,Reality,,Dancing with the Stars is an american dance co...,DWTS originated out of England made it's way t...
1254,Operation Repo,,Reality,"Lou Pizarro, Jeffrey Reyes",It's the fast-paced high-pressure world of car...,I happen to come upon this show a while back w...
915,Happily Divorced,Comedy,Scripted,"Ben Raymond, Peter Marc Jacobson, Franco E. Ba...",Happily Divorced centers around Los Angeles fl...,Other reviewers mention how clichéd the show i...
1246,The Inbetweeners,Comedy,Scripted,"Brad Copeland, Iain Morris, Damon Beesley, Aar...",The Inbetweeners takes a comedic look at a gro...,There is only two words all together in the wo...

In [442]:
y_train

970     0
1028    0
508     0
1112    1
740     0
742     0
73      0
425     0
507     1
1103    0
443     1
268     0
890     1
328     1
943     1
235     1
249     0
772     0
661     1
321     0
1258    0
712     1
1168    0
263     1
701     0
1210    1
80      1
103     0
475     1
37      1
       ..
1026    0
203     0
1045    0
734     1
538     1
1176    0
496     0
910     0
789     0
266     0
24      1
481     0
291     1
1024    0
405     1
855     0
363     1
813     1
141     1
927     0
1240    0
96      1
350     1
488     0
132     1
1124    0
1204    0
1254    0
915     0
1246    0
Name: rating_avg, Length: 793, dtype: int64

## Creating Vector DF for columns with text in training set

In [371]:
cv_r = CountVectorizer(ngram_range=(1,3), lowercase=True, max_features=1000, stop_words='english')
cv_r.fit(X_train['reviews'])
words_train_r = cv_r.transform(X_train.reviews.values)
words_train_r = pd.DataFrame(words_train_r.todense(), columns=cv_r.get_feature_names())
words_train_r.head()

,10,10 10,100,12,13,15,20,24,30,abc,...,written,wrong,yeah,year,year old,years,yes,york,young,younger
0,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
1,0,0,0,0,0,1,1,0,1,0,...,0,0,0,0,0,2,3,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [372]:
words_train_r.shape

(793, 1000)

In [369]:
cv_s = CountVectorizer(ngram_range=(1,3), lowercase=True, max_features=1000, stop_words='english')
cv_s.fit(X_train['summary'])
words_train_s = cv_s.transform(X_train.summary.values)
words_train_s = pd.DataFrame(words_train_s.todense(), columns=cv_s.get_feature_names())
words_train_s.head()

,10,12,13,16,20,30,abilities,ability,acclaimed,action,...,year old,years,years ago,years later,york,york city,young,young woman,younger,youngest
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [370]:
words_train_s.shape

(793, 1000)

In [367]:
cv_c = CountVectorizer(ngram_range=(2,2), lowercase=False, max_features=1000, stop_words='english', token_pattern='\w{4,}')
cv_c.fit(X_train['crew'])
words_train_c = cv_c.transform(X_train.crew.values)
words_train_c = pd.DataFrame(words_train_c.todense(), columns=cv_c.get_feature_names())
words_train_c.head()

,Aaron Ginsburg,Aaron Greenberg,Aaron Harberts,Aaron Kaplan,Aaron Miller,Abellera Hallman,Adam Armus,Adam Bernstein,Adam Goldworm,Adam Horowitz,...,Witzel Greg,Yahlin Chang,Yaitanes John,Yaron Levy,Yolonda Lawrence,Yuri Reese,Zachary Reiter,Zack Estrin,Zack Stentz,Zwerling Evan
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [368]:
words_train_c.shape

(793, 1000)

In [356]:
cv_t = CountVectorizer(ngram_range=(1,1), lowercase=True, max_features=7000, stop_words='english')
cv_t.fit(X_train['types'])
words_train_t = cv_t.transform(X_train.types.values)
words_train_t = pd.DataFrame(words_train_t.todense(), columns=cv_t.get_feature_names())
words_train_t.head()

,animation,documentary,game,news,reality,scripted,sports,talk,variety
0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,1,0,0,0
3,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,1,0,0,0

In [357]:
words_train_t.shape

(793, 9)

In [373]:
cv_g = CountVectorizer(ngram_range=(1,4), lowercase=False, max_features=1000, stop_words='english', token_pattern='\w{4,}')
cv_g.fit(X_train['genres'])
words_train_g = cv_g.transform(X_train.genres.values)
words_train_g = pd.DataFrame(words_train_g.todense(), columns=cv_g.get_feature_names())
words_train_g.head()

,Action,Action Adult,Action Adventure,Action Adventure Anime,Action Adventure Anime Crime,Action Adventure Children,Action Adventure Children Family,Action Adventure Children Science,Action Adventure Crime,Action Adventure Crime Science,...,Thriller Espionage,Thriller Legal,Thriller Medical,Thriller Mystery,Thriller Supernatural,Thriller Western,Travel,Travel History,Western,Western Mystery
0,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [375]:
words_train_g.shape

(793, 357)

In [443]:
# joing data frame together
features_train = pd.concat([words_train_c, words_train_g, words_train_s, words_train_t], axis=1)

In [444]:
words_test_r = cv_r.transform(X_test.reviews.values)
words_test_r = pd.DataFrame(words_test_r.todense(), columns=cv_r.get_feature_names())

words_test_s = cv_s.transform(X_test.summary.values)
words_test_s = pd.DataFrame(words_test_s.todense(), columns=cv_s.get_feature_names())

words_test_c = cv_c.transform(X_test.crew.values)
words_test_c = pd.DataFrame(words_test_c.todense(), columns=cv_c.get_feature_names())

words_test_t = cv_t.transform(X_test.types.values)
words_test_t = pd.DataFrame(words_test_t.todense(), columns=cv_t.get_feature_names())

words_test_g = cv_g.transform(X_test.genres.values)
words_test_g = pd.DataFrame(words_test_g.todense(), columns=cv_g.get_feature_names())



features_test = pd.concat([words_test_c, words_test_g, words_test_s, words_test_t], axis=1)

In [446]:
features_test.head()

,Aaron Ginsburg,Aaron Greenberg,Aaron Harberts,Aaron Kaplan,Aaron Miller,Abellera Hallman,Adam Armus,Adam Bernstein,Adam Goldworm,Adam Horowitz,...,youngest,animation,documentary,game,news,reality,scripted,sports,talk,variety
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [447]:
# importing more libraries
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, BaggingClassifier

I had issues with doing a cross val on my models and I don't understand why.  Also, my model might be a very complex model because of the number of featurees etc.

In [425]:
skf = StratifiedKFold(n_splits=3, shuffle=True, random_state=42)

knn = KNeighborsClassifier(n_neighbors=3, weights='distance')

knn.fit(features_train, y_train)

knn.score(features_train, y_train)

1.0

In [428]:
knn.score(features_test, y_test)

0.50733137829912023

In [431]:
dt = DecisionTreeClassifier(class_weight='balanced')
bdt = BaggingClassifier(DecisionTreeClassifier())
rf = RandomForestClassifier(class_weight='balanced', n_jobs=-1, n_estimators=20, random_state=42)
et = ExtraTreesClassifier(class_weight='balanced', n_jobs=-1)

In [432]:
dt.fit(features_train, y_train)
dt.score(features_train, y_train)

1.0

In [433]:
dt.score(features_test, y_test)

0.55425219941348969

In [434]:
bdt.fit(features_train, y_train)
bdt.score(features_train, y_train)

0.97351828499369486

In [435]:
bdt.score(features_test, y_test)

0.56598240469208216

In [436]:
rf.fit(features_train, y_train)
rf.score(features_train, y_train)

1.0

In [437]:
rf.score(features_test, y_test)

0.5513196480938416

In [440]:
feature_importances = pd.DataFrame(rf.feature_importances_,
                                   index = features_train.columns,
                                    columns=['importance'])
feature_importances.sort_values(by='importance', ascending=False).head(40)

                    importance
Horror                0.006625
cop                   0.005870
based                 0.005621
new                   0.004873
love                  0.004815
series                0.004530
wife                  0.004295
city                  0.004146
Drama                 0.004130
Drama Crime           0.004025
come                  0.003987
takes                 0.003906
comedy                0.003890
life                  0.003880
mom                   0.003762
friends               0.003657
return                0.003586
scripted              0.003431
friend                0.003399
animation             0.003331
guys                  0.003329
school                0.003250
support               0.003102
group                 0.003003
Comedy                0.002911
Adventure Children    0.002893
old                   0.002791
lost                  0.002771
mother                0.002674
crime                 0.002674
live                  0.002667
house                 0.002660
Action Adventure      0.002648
documentary           0.002643
mission               0.002621
world                 0.002492
Crime                 0.002453
young                 0.002388
living                0.002374
reality               0.002357